#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.wks-ctnr {
  width: 550px;
  /* height: 850px; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* margin-top: 10px; */
}

.sub-ctnr {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
}

.grid {
  background-color: white;
  width: 100%;
  height: 100%;
  min-height: 60px;
  padding: 1px;
}

ul {
  margin: 0;
  padding: 0;
  justify-content: center;
}

li {
  /* border: 1px solid grey;  */
  margin: 1px;
  height: 8px;
  width: 8px;
  background-color: rgb(230, 230, 230);
  list-style-type: none;
  float: left;
}

.green{
  background-color: rgb(55, 245, 55);
  cursor: pointer;
}

/* X AXIS */
.x-axis {
  /* padding-left: 18px; */
  margin-left: 4.5px;
  /* background-color: red; */
  width: 100%;
  height: 18px;
  display: flex;
}

.x-axis span {
  margin-left: 20px;
  margin-right: 16.5px;
  font-size: 12px;
}

/* Y AXIS */
.y-axis {
  width: 22px;
  height: 100%;
  min-height: 60px;
  margin-top: -3px;
}

.y-axis span {
  margin-top: 0px;
  margin-bottom: 32px;
  float: left;
  font-size: 12px;
  width: 18px;
  text-align: center;
}

.top-left-button {
  position: fixed;
  top: 20px;
  left: 20px;
  user-select: none;
}

.right-button {
  position: fixed;
  top: 50vh;
  right: 20px;
  user-select: none;
}


/* MODAL */
.modal-bg {
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;  
  left: 0;
  cursor: pointer;
}

.popup {
  top: 18%;  
  max-width: 90%;
  min-width: 130px;
  min-height: 140px;
  height: 65%;
  aspect-ratio: 16 / 10;
  background: white;
  color: black;
  position: fixed;
  z-index: 100;
  border-radius: 2px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px 2px rgba(80, 75, 75, 0.5);
  overflow: auto;
  cursor: default;
}

.modal-close {
  font-size: 18px;
  position: absolute;
  right: 0;
  margin: 4px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-close:hover {
  color: rgb(255, 106, 80);
}

/* INPUT FORM */
.dob-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  min-width: 100px;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.input-container {
  display: flex;
  min-width: 180px;
}

.input {
  margin-right: 10px;
  width: 80px;
  height: 86px;
  border-radius: 10px;
  border: 1px solid grey;
  text-align: center;
  padding: 7px 0 7px 0;
  font-size: 40px;
}

.input:focus {
  background-color: rgb(248, 248, 248);
}

.invalid:focus{
  color: rgb(255, 106, 80);
}

.year {
  width: 100px;
}
.input::placeholder{
  font-size: 40px;
}

.dob-form .enter{
  margin-top: 16px;
}

.sub-invalid {
  color: red3
} 

/* WEEK PAGE */
.wk-ctnr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer-goal-ctnr {
  width: 70%;
  min-width: 800px;
  /* min-height: 400px; */
  /* background-color: rgb(236, 236, 236); */
}

.wk-ctnr h1 {
  text-align: center;
  font-size: 68px;
  font-weight: normal;
  margin: 100px 0 50px 0;
}

.day-axis {
  height: 30px;
  /* background-color: rgb(248, 248, 248); */
  margin-left: 18%;
  margin-bottom: 30px;
  margin-right: 2%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal-ctnr {
  /* background-color: rgb(0, 132, 255); */
  height: 100%;
}

.day-axis span  {
  margin-inline: 36px;
  font-size: 14px;
  width: 26px;
  text-align: center;
}

.goal {
  height: 64px;
  display: flex;
}

.goal-name {
  width: 15%;
  text-align: end;
  padding-right: 3%;
  margin-block: 8px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.goal-name:hover {
  background-color: rgb(246, 246, 246);
  cursor: pointer;
  border-radius: 5px;
  padding-right: 0;
  width: 18%;
}

.goal-name:hover .goal-name-dots {
  display: block;
  float: right;
  height: 30px;
}

.goal-name:hover .dot-space {
  width: 17%;
  padding-right: 1%;
}

.inner-gn-wrapper {
  display: flex;
  justify-content: end;
  user-select: none
}

.dot-space {
  /* background-color: tomato; */
  width: 0;
  height: 100%;
}

.goal-name-dots {
  display: none;
}

.dots-lines {
  width: 80%;
  margin-right: 2%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dash {
  margin-inline: 36px;
  font-size: 26px;
  cursor: pointer;
}

.dot {
  margin-inline: 36px;
  font-size: 26px;
  cursor: pointer;
}

.left-button {
  position: fixed;
  top: 50vh;
  left: 20px;
  user-select: none;
}

.ag-ctnr {
  width: 100%;
  display: flex;
  margin-top: 8px;
}

.ag-btn-ctnr {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 3%;
}

.input-showing {
}

.add-goal-button {
  height: 30px;
  width: 30px;
  float: right;
  border: 1px solid rgb(200, 200, 200);
  background-color: white;
  color: rgb(170, 170, 170);
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  user-select: none;
}

.add-goal-button:active {
  background-color: rgb(230, 230, 230);
  border-color:rgb(230, 230, 230);
  color: white;
}

.ag-input-ctnr {
  /* width: 200px; */
}

#ag-input {
  height: 28px;
  width: 160px;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(215, 215, 215);
  font-size: 18px;
  padding-inline: 5px;
  color: rgb(10, 10, 10);
}

#ag-input::placeholder {
  color: rgb(200, 200, 200);
}

#ag-input:focus {
  outline-color: rgb(155, 155, 155);
  background-color: rgb(252, 252, 252);
}

.tick-button {
  font-size: 21px;
  flex-shrink: 0;
  user-select: none;
}

.plus {
  font-size: 22px;
}

/* GOAL MODAL */
.gm-content {
  width: 90%;
  margin-inline: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goal-info {
  margin: 0 0 30px 0;
  font-size: 24px;
}

.gm-btn-ctnr {
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gm-btn {
  margin-block: 8px;
  width: 116px;
  height: 26px;
}

.gm-btn-ctnr span {
  margin: 8px 0 8px 0;
}

.gm-btn-ctnr-wide {
  height: 120px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gm-btn-ctnr-wide span {
  margin-bottom: 10px;
}