#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.wks-ctnr {
  width: 550px;
  /* height: 850px; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* margin-top: 10px; */
}

.sub-ctnr {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
}

.grid {
  background-color: white;
  width: 100%;
  height: 100%;
  min-height: 60px;
  padding: 1px;
}

ul {
  margin: 0;
  padding: 0;
  justify-content: center;
}

li {
  /* border: 1px solid grey;  */
  margin: 1px;
  height: 8px;
  width: 8px;
  background-color: aqua;
  list-style-type: none;
  float: left;
}

/* X AXIS */
.x-axis {
  /* padding-left: 18px; */
  margin-left: 4.5px;
  /* background-color: red; */
  width: 100%;
  height: 18px;
  display: flex;
}

.x-axis span {
  margin-left: 20px;
  margin-right: 16.5px;
  font-size: 12px;
}

/* Y AXIS */
.y-axis {
  width: 22px;
  height: 100%;
  min-height: 60px;
  margin-top: 4px;
}

.y-axis span {
  margin-top: 32px;
  margin-bottom: 0px;
  float: left;
  font-size: 12px;
  width: 18px;
  text-align: center;
}

.top-left-button {
  position: fixed;
  top: 20px;
  left: 20px;
}

.right-button {
  position: fixed;
  top: 50vh;
  right: 20px;
}


/* MODAL */
.modal-bg {
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;  
  left: 0;
  cursor: pointer;
}

.popup {
  top: 18%;  
  max-width: 90%;
  min-width: 130px;
  min-height: 140px;
  height: 65%;
  aspect-ratio: 16 / 10;
  background: white;
  color: black;
  position: fixed;
  z-index: 100;
  border-radius: 2px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px 2px rgba(80, 75, 75, 0.5);
  overflow: auto;
  cursor: default;
}

/* INPUT FORM */
.dob-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  min-width: 100px;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.input-container {
  display: flex;
  min-width: 180px;
}

.input {
  margin-right: 10px;
  width: 80px;
  height: 86px;
  border-radius: 10px;
  border: 1px solid grey;
  text-align: center;
  padding: 7px 0 7px 0;
  font-size: 40px;
}

.input:focus {
  background-color: rgb(248, 248, 248);
}

.invalid:focus{
  color: rgb(255, 106, 80);
}

.year {
  width: 100px;
}
.input::placeholder{
  font-size: 40px;
}

.dob-form .enter{
  margin-top: 16px;
}

.modal-close {
  font-size: 18px;
  position: absolute;
  right: 0;
  margin: 4px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-close:hover {
  color: rgb(255, 106, 80);
}